<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Demo ReactJS</title>
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="lib/react.production.min.js" crossorigin></script>
    <script src="lib/react-dom.production.min.js" crossorigin></script>
    <script src="lib/babel.min.js"></script>
    <script src="lib/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="layout.css">
</head>
<style>
    .mauvang {
        background: yellow;
    }
</style>

<body>
    <div id="root"></div>
    <!-- <hr/>
    <div id="root2"></div> -->

    <script src="js/ReactJS_Ajax.js" type="text/babel" />
</body>

</html>