<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ReactJS ES6</title>
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="lib/react.production.min.js" crossorigin></script>
    <script src="lib/react-dom.production.min.js" crossorigin></script>
    <script src="lib/babel.min.js"></script>
    <script src="lib/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div id="root"></div>
    <script src="js/vidu2.js" type="text/babel" />
</body>
</html>