<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ReactJS Redux</title>  
</head>
<body>
    <h1>ReactJS Redux</h1>
    <div id="root"></div>
    <p id="p-detail"></p>
    <script src="bundle.js"></script>
</body>
</html>